@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/*noinspection CssUnknownTarget*/
@import "tailwindcss";
/*noinspection CssInvalidAtRule*/
@plugin "@tailwindcss/typography";

/*noinspection CssInvalidAtRule*/
@theme {
    --font-sans: 'Noto Sans', system-ui;
    --color-primary: var(--color-blue-600);
    --color-primary-light: var(--color-blue-500);
    --color-primary-dark: var(--color-blue-700);
    --color-secondary: var(--color-slate-600);
    --color-secondary-light: var(--color-slate-500);
    --color-secondary-dark: var(--color-slate-700);
    --color-accent: var(--color-emerald-500);
    --color-accent-light: var(--color-emerald-200);
    --color-accent-dark: var(--color-emerald-800);
}

/*noinspection CssInvalidAtRule*/
@variant dark (&:is(.dark *));

@layer base {
    /* Default light theme */
    :root {
        color-scheme: light;
        background-color: var(--color-gray-200);
        color: var(--color-gray-900);
    }

    .dark {
        color-scheme: dark;
        background-color: var(--color-gray-900);
        color: var(--color-gray-50);
    }

    a {
        @apply text-primary hover:text-primary/80 visited:text-purple-400 dark:visited:text-purple-300 underline;
    }
}
