@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/*noinspection CssUnknownTarget*/
@import "tailwindcss";
/*noinspection CssInvalidAtRule*/
@plugin "@tailwindcss/typography";

/*noinspection CssInvalidAtRule*/
@theme {
    --font-sans: 'Inter', 'Inter Fallback', system-ui;
    --color-primary: #0C6291;
    --color-secondary: #E1523D;
}

@layer base {
    a {
        @apply text-primary hover:text-primary/80 visited:text-purple-600 underline;
    }
}